main {
  position: absolute;
  top: 71px;
  translate: 316px;
  width: calc(100vw - 316px);
  height: calc(100vh - 125px);
  background-color: #f2f3f7;
}

footer {
  position: fixed;
  bottom: 0%;
  height: 54px;
  width: 100vw;
  background-color: #000;
}

a {
  text-decoration: none;
}